@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .all-center {
    @apply flex justify-center items-center;
  }
}
@font-face {
  font-family: "Alien Encounters Solid";
  src: url(font/snake.TTF);
  font-weight: bold;
}

body {
  font-family: "Alien Encounters Solid", serif;
  font-weight: bold;
}
.zoom-enter-active,
.zoom-leave-active {
  transition: all 200ms linear;
}

.zoom-enter-from,
.zoom-leave-to {
  scale: 0;
}
.route-enter-from,.route-leave-to{
 opacity: 0;

}
.route-enter-active,.route-leave-active{
  transition: opacity 0.2s ease-out;
}
.heading{
  padding: 8px;
  width: 100%;
  border:1px solid white;
}